package pages

import "github.com/JxavierP/competitor-chat/web/components"

templ Index() {
	@layout("Home") {
		<div class="flex h-screen">
			@components.Sidebar()
			<div class="flex flex-col w-full bg-rose-pine-surface">
				@components.ChatArea()
				@components.ChatInput()
			</div>
		</div>
	}
}
