package templates

templ Index() {
    @layout("Home") {
    <div>
      <h1>Welcome</h1>
      <button hx-get="/message" hx-target="#message" hx-swap="innerHTML">
        Load Message
      </button>
      <div id="message"></div>
    </div>
    }
}

